.store-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  
  }
  
  .store-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
  }
  
  
  .store-controls label {
    display: block;
    margin-top: -20px;
    margin-right: 10px;
    color: rgb(92, 92, 92);
    font-family: sa;
    font-size: 20px;
  }
  
  .store-controls select {
    display: block;
    width: 20%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-family: sa;
  }
  
  .store-controls li {
    margin-left: 10px;
  }
  
  .store-controls a {
    text-decoration: none;
    color: #000;
  }
  .store_product_p{
    color: rgb(92, 92, 92);
    font-family: sa;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .store_product_count{
    color: rgb(127, 127, 127);
    font-family: sa;
    font-size: 20px;
   
  }
  .no-bullet {
    list-style: none;
   
    margin-top: -20px;

  }
  
  .no-bullet a {
    text-decoration: none;
    margin-left: 90px;
    color: rgb(92, 92, 92);
    font-family: sa;
    font-size: 20px;
  }

  .store-card-container {

    display: flex; 
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-between; 
    gap: 5PX;
    align-items: center;
    padding-top: 50px; 
    padding-bottom: 50px; 
    flex-wrap: wrap;
  }

  @media screen and (max-width: 767px) {
    .store-container {
      margin-top: 50px;
      margin-bottom: 20px;
    }
    .store-controls {
      flex-wrap: wrap;
      justify-content: center;
      width: 300px;
     margin-top: 30px;
     margin-left: 10px;
     margin-right: 0px;
 
  }
  .store-controls label,
  .store-controls select {
    margin-bottom: 10px;
    flex-basis: 100%;
  }
  .no-bullet {
   margin-left: 0px;
    margin-top: 10px;
  }
  .no-bullet a {
    margin-left: 0px;
  }
  .store-card-container {

    display: flex; 
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-between; 
    gap: 5PX;
    align-items: center;
    padding-top: 50px; 
    padding-bottom: 50px; 
    flex-wrap: wrap;
  }
  


}