.store_product_container {
    border: 1px solid #fff;
    box-shadow: 3px 3px 3px 4px rgba(62, 62, 62, 0.3);
    padding: 10px;
    box-sizing: border-box;
    /* width: calc(24% - 20px); */
    width: 245px;
    margin-bottom: 2%;
    margin-right: 30px;
    margin-left: 10px;
    display: inline-block;
    border-radius: 20px;

  }
  
  .store_product_container:last-of-type {
    margin-right: 0;
  }
  .store_product_container img {
    width: 90%;
    height: 200px;
    margin-bottom: 35px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 15px;
  }
  
  .store_product_title {
    font-size: 18px;
    margin-bottom: 5px;
    color: rgb(92, 92, 92);
    font-family: sa;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }
  
  .store_product_quantity, .store_product_price {
    margin: 5px 0;
    display: inline-block;
  }
  
  .store_product_quantity {
    float: left;
    font-size: 14px;
    margin-left: 20px;
  }
  .store_product_quantity.more-than-10 {
    color: green;
  }
  
  .store_product_quantity.less-than-10 {
    color: red;
  }
  
  .store_product_price {
    float: right;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    font-family: sa;
    margin-right: 20px;
  }
  .edit{
    background-color: #55c57a;
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 10px;
    width: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 11px;
    margin-left: 55px;
    margin-top: 20px;
  }
  .edit:hover {
    background-color:  #35764b;
  }

  @media screen and (max-width: 767px){
    .store_product_container {
      width: 140px;
      margin-bottom: 2px;
      margin-right: 0px;
      margin-left: 10px;
      margin-top: 20px;
      text-align: center;
    }
    .store_product_container img{
      width: 100%;
      height: 100px;
      margin-bottom: 15px;
    }
    .store_product_quantity{
      font-size: 14px;
    }
    .store_product_quantity, .store_product_price {
      margin: 5px 0;
      display: inline-block;
    }
    .edit{
      width: 100%;
      margin-left: 0px;
    }
  }